Source: pdfarranger-pikepdf
Section: unknown
Priority: optional
Maintainer: M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/pdfarranger-pikepdf
#Vcs-Git: https://salsa.debian.org/debian/pdfarranger-pikepdf.git

Package: pdfarranger-pikepdf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-pip
Description: Pikepdf 5.0.1 from pip3
 Pikepdf its a dependency for Pdfarranger 1.8+ on focal fossa
